/* AboutUs.css */

@media (max-width: 600px) {
    .about-us-container {
      flex-direction: column-reverse;
    }
  
    .info-container {
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .image-container {
      margin-left: 0;
      text-align: center;
    }
  
    .image-container img {
      width: 100%;
    }
  }
  @media (max-width: 768px) {
    .about-us-container {
      flex-direction: column-reverse;
    }
  
    .info-container {
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .image-container {
      margin-left: 0;
      text-align: center;
    }
  
    .image-container img {
      max-width: 100%; 
      height: auto; 
    }
  }